<!--
 * @Author: shaohang-shy
 * @Date: 2023-05-08 18:46:02
 * @LastEditors: shaohang-shy
 * @LastEditTime: 2023-05-08 18:46:02
 * @Description: icon
-->
<script setup lang="ts">

</script>

<template>
  <div class="p-3">
    <p>Icon</p>
    <div class="i-carbon-checkmark text-red" />
    <div class="i-carbon-checkmark-filled text-blue" />
    <div class="i-carbon-help-filled text-#FFC78A text-48" />
    <div class="i-carbon-data-table text-green text-60" />
    <div class="i-custom-left  text-green text-60" />
  </div>
</template>
