<template>
	<view class="p-3 top-bg">
		<guodu-nav-bar title="学情报告" />
		<view class="studyReport-header flex justify-between p-20rpx">
			<view class="studyReport-header-left w-350rpx h-300rpx">
				<view class="left-top" :style="{ backgroundColor: color[assignmentData.type][1] }">
					{{ assignmentData.label }}
				</view>
				<view class="left-middle">{{ assignmentData.title }}</view>
				<view class="left-bottom flex justify-between w-200rpx mt-40rpx">
					<view class="flex flex-col items-center">
						<view>{{ assignmentData.questionTotal }}</view>
						<view class="text-20rpx">题目数</view>
					</view>
					<view class="flex flex-col items-center">
						<view :class="assignmentData.wronQuestion > 0 ? 'text-red' : 'text-#000'">
							{{ assignmentData.wronQuestion }}
						</view>
						<view class="text-20rpx">错题数</view>
					</view>
				</view>
			</view>
			<view class="studyReport-header-right w-250rpx h-300rpx flex flex-col items-center">
				<view class="w-250rpx h-250rpx">
					<guodu-echarts class="w-full h-full" :options="accuracyChart" canvas-id="accuracyChart" />
				</view>
				<view
					class="w-full h-50rpx text-18rpx text-center mt--20rpx"
					:style="{
						color:
							Calculate(assignmentData.wronQuestion, assignmentData.questionTotal) < 95
								? 'red'
								: '#3079e0'
					}"
				>
					{{
						Calculate(assignmentData.wronQuestion, assignmentData.questionTotal) < 95
							? '低于平均正确率95%'
							: '高于平均正确率95%'
					}}
				</view>
			</view>
		</view>
	</view>
</template>

<script setup lang="ts">
import { ref, watch, reactive } from 'vue'
import * as echarts from 'echarts'
import type { AssignmentDetail } from '../../type'
const color = reactive({
	Chinese: ['#fcf1e0','#f4b162'],
	Math: ['#e7f1fe','#5698f7'],
	English: ['#e3fbf2','#59b883'],
	History: ['#ecebfd','#8a87f7']
})
const assignmentData = ref<AssignmentDetail>({
		id: 1,
		type: 'Chinese',
		label: '文字文字',
		title: '文字文字文字文字',
		isCorrect: true,
		endTime: 12,
		wronQuestion: 5,
		questionTotal: 40
	},)
const accuracyChart = ref({
	title: [
		{
			text: '正确率',
			left: '48%',
			top: '70%',
			textAlign: 'center',
			textStyle: {
				color: '#000',
				fontWeight: 'normal',
				fontSize: '14px',
				textAlign: 'center',
			},
		},
	],
	angleAxis: {
		axisLine: {
			show: false,
		},
		axisLabel: {
			show: false,
		},
		splitLine: {
			show: false,
		},
		axisTick: {
			show: false,
		},
		min: 0,
		max: 135,
		boundaryGap: ['0', '100'],
		startAngle: 225,
	},
	radiusAxis: {
		type: 'category',
		axisLine: {
			show: false,
		},
		axisTick: {
			show: false,
		},
		axisLabel: {
			show: false,
		},
		data: ['a', 'b', 'c'],
		z: 10,
	},
	polar: {
		radius: '100%',
	},
	series: [
		{
			type: 'bar',
			data: [, 0],
			coordinateSystem: 'polar',
			barMaxWidth: 6,
			z: 2,
			roundCap: true,
			color: '#3585f7',
		},
		{
			type: 'bar',
			data: [, 100],
			z: 1,
			coordinateSystem: 'polar',
			barMaxWidth: 6,
			roundCap: true,
			color: '#c7d5e6',
			barGap: '-100%',
		},
		{
			type: 'pie',
			hoverAnimation: false,
			labelLine: {
				show: false,
			},
			label: {
				normal: {
					position: 'center',
				},
			},
			data: [
				{
					value: 0,
					animation:false,
					itemStyle: {
						color: 'rgba(0,0,0,0)',
					},
					label: {
						formatter: '{c}%',
						position: 'center',
						show: true,
						textStyle: {
							fontSize: '18',
							fontWeight: 'normal',
							color: '#34374E',
						},
					},
				},
			],
		},
		{
			//外圆
			type: 'pie',
			radius: '65%',
			animation:false,
			center: ['50%', '50%'],
			z: 0,
			itemStyle: {
				color: new echarts.graphic.RadialGradient(
					0.5,
					1,
					1,
					[
						{
							offset: 0.5,
							color: '#ffffff00',
						},

						{
							offset: 1,
							color: '#fff',
							// color:'rgba(17,24,43,0)'
						},
					],
					false
				),
				label: {
					show: false,
				},
				labelLine: {
					show: false,
				},
			},
			hoverAnimation: false,
			label: {
				show: false,
			},
			tooltip: {
				show: false,
			},
			data: [100],
		},
	],
	legend: {
		show: false,
	},
	tooltip: {
		show: false,
	},
})
const Calculate  = (wrong:number,total:number) => {
	return Math.floor((total - wrong) / total * 100)
}
watch(() => assignmentData.value, () => {
	let value = Calculate(assignmentData.value.wronQuestion,assignmentData.value.questionTotal)
	accuracyChart.value.series[0].data[1] = value
	accuracyChart.value.series[2].data[0]!.value = value
})
onLoad((option:any) => {
	assignmentData.value = JSON.parse(option.data)
})
</script>

<style lang="scss" scoped>
.studyReport-header-left {
	padding: 50rpx 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	.left-top {
		font-size: 20rpx;
		border-radius: 9999rpx;
		color: #fff;
		padding: 5rpx 10rpx;
	}
}
</style>
