<!--
 * @Author: shaohang-shy
 * @Date: 2023-07-14 15:21:31
 * @LastEditors: shaohang-shy
 * @LastEditTime: 2023-07-14 15:21:31
 * @Description: empty
-->
<script setup lang="ts">

</script>

<template>
  <div class="p-3">
    Empty
    <guodu-empty />
    <guodu-empty message="自定义Message" />
  </div>
</template>
