<!--
 * @Author: shaohang-shy
 * @Date: 2023-07-14 15:21:20
 * @LastEditors: shaohang-shy
 * @LastEditTime: 2023-07-14 15:21:20
 * @Description: loading
-->
<script setup lang="ts">

</script>

<template>
  <div class="p-3 w-full">
    loading
    <guodu-loading class="m-3" />
    <guodu-loading type="dot-line" class="m-3" />
    <guodu-loading type="dot-circle" class="m-3" />
  </div>
</template>
