<template>
	<view>
		<view class="flex justify-between">
			<text style="font-weight: bold; font-size: 18px;">{{ assignTotal }}份作业</text>
			<text style="font-size: 12px; color: #aaa;" @tap="allSubject">全部学科 ></text>
		</view>
		<!-- 学科 -->
		<view class="subject-container">
			<div
				v-for="item in subjectList"
				:key="item.id"
				class="subject-item"
				:style="{ background: color[item.type][0] }"
			>
				<view
					class="w-70rpx h-70rpx flex-center"
					:style="{ backgroundColor: color[item.type][1], borderRadius: '50%' }"
				>
					<uni-icons type="bars" size="20" color="#fff"></uni-icons>
				</view>
				<div style="font-size: 30rpx; font-weight: bold; ">{{ item.label }}</div>
				<div
					class="w-40rpx h-40rpx flex-center"
					style="border-radius: 50%; background: #fff; font-size: 26rpx;"
				>
					{{ item.count }}
				</div>
			</div>
		</view>
		<!-- 详情 -->
		<view>
			<detailCard
				v-for="detail in detailData"
				:key="detail.id"
				:data="detail"
				@evaluate="handleEvaluate"
				@report="handleReport"
			/>
		</view>
	</view>
	<!-- popup -->
	<uni-popup ref="evaluatePopup" :safe-area="false" type="bottom">
		<view class="popup-container">
			<view style="font-weight: bold;">作业评价</view>
			<view style="font-size: 26rpx; color: #8e989f; margin-top: 20rpx;">
				{{ tapSubjectData?.title }}
			</view>
			<view
				style="position: absolute; bottom: 20rpx;display: flex;flex-direction: column;justify-content: space-between;"
			>
				<view v-for="item in rateValue" :key="item.title" style="display: flex;">
					<text class="rate-title">{{item.title}}</text>
					<uni-rate v-model="item.value" :touchable="false" :active-color="item.value <= 2 ? 'red' : '#f8cb5b'" margin="10" class="mt--10rpx"/>
					<text style="font-size: 20rpx; color: #8e989f;">{{rateText(item.value)}}</text>
				</view>
			</view>
		</view>
	</uni-popup>
</template>

<script setup lang="ts">
import {ref,computed} from 'vue'
import type {AssignmentDetail} from '../type'
import detailCard from './detailCard.vue'
const props = defineProps<{
	day: number
}>()
const evaluatePopup = ref()
// 作业总数
const assignTotal = computed<number>(() => {
	let total = 0
	subjectList.value.forEach(item => {
		total += item.count
	})
	return total
});
const color = reactive({
	Chinese: ['#fcf1e0','#f4b162'],
	Math: ['#e7f1fe','#5698f7'],
	English: ['#e3fbf2','#59b883'],
	History: ['#ecebfd','#8a87f7']
})
// 评分
const rateValue = ref<Array<{title:string,value:number}>>([
	{
		title: '作业时长',
		value: 1
	},
	{
		title: '难易度',
		value: 5
	},
	{
		title: '作业量',
		value: 5
	}
])
const rateText = (value:number) => {
	return value < 5 ? value <= 2 ? '不满意' : '满意' : '非常满意'
}
// 作业
const tapSubjectData = ref<AssignmentDetail>()
const subjectList = ref([
	{
		id: 1,
		label: '语文',
		type:'Chinese',
		count: 2,
	},
	{
		id: 2,
		label: '数学',
		type:'Math',
		count: 1,
	},
	{
		id: 3,
		label: '英语',
		type: 'English',
		count: 2,
	},
	{
		id: 4,
		label: '历史',
		type:'History',
		count: 2,
	}
]);
const detailData = ref<AssignmentDetail[]>([
	{
		id: 1,
		type: 'Chinese',
		label: '语文基础',
		title: '关于孔乙己的理解',
		isCorrect: true,
		endTime: 12,
		wronQuestion: 5,
		questionTotal: 20
	},
	{
		id: 2,
		type: 'Math',
		label: '数学分层',
		title: '一元二次方程的解答',
		isCorrect: false,
		endTime: 15,
		wronQuestion: 0,
		questionTotal: 20
	}
])
const allSubject = () => {
	console.log('全部学科');
};

// 评价按钮回调
const handleEvaluate = (data:AssignmentDetail) => {
	console.log('评价按钮点击', data)
	if(evaluatePopup.value){
		tapSubjectData.value = data
		evaluatePopup.value.open()
	}
}
// 报告按钮
const handleReport = (data:AssignmentDetail) => {
	console.log('报告按钮点击', data)
	uni.navigateTo({
		url: '/pages/assignment/pages/studyReport/studyReport?data=' + JSON.stringify(data),
	
	})
}
</script>

<style lang="scss" scoped>
.subject-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	.subject-item {
		border-radius: 20rpx;
		margin: 10rpx;
		height: 130rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0 0 20rpx 3rpx #eaeaea;
	}
}
.popup-container {
	height: 450rpx;
	background-color: #fff;
	border-radius: 30rpx 30rpx 0 0;
	padding: 20rpx;
	position: relative;
	.rate-title {
		margin-right: 20rpx;
		width: 160rpx;
		text-align: justify;
		font-size: 26rpx;
		&::after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
		}
	}
}
</style>
