<template>
	<view class="details-card">
		<view class="details-top">
			<view style="display: flex;">
				<view
					class="details-tag"
					:style="{ backgroundColor: color[prop.data.type][0], color: color[prop.data.type][1] }"
				>
					{{ prop.data.label }}
				</view>
				<view class="details-title">{{ prop.data.title }}</view>
			</view>
			<view style="display: flex; align-items: center;">
				<uni-icons
					:type="prop.data.isCorrect ? 'checkmarkempty' : 'help-filled'"
					size="15"
					:color="prop.data.isCorrect ? '#3585f7' : ' #f6c893'"
				></uni-icons>
				<text style="margin-left: 5rpx; font-size: 24rpx;">
					{{ prop.data.isCorrect ? '已批改' : '未批改' }}
				</text>
			</view>
		</view>
		<view class="details-center">
			<uni-icons type="info" size="15" color="#aaa"></uni-icons>
			<text style="margin-left: 5rpx; font-size: 24rpx; color: #aaa">
				{{ prop.data.endTime }}天后作业结束
			</text>
		</view>
		<view class="details-bottom">
			<view class="details-bottom-left1">
				<view>
					<text style="font-size: 28rpx;">
						<text
							:style="{
								color: prop.data.wronQuestion === 0 ? '#000' : 'red',
								fontSize: '36rpx',
								fontWeight: 'bold'
							}"
						>
							{{ prop.data.wronQuestion }}
						</text>
						/{{ prop.data.questionTotal }}
					</text>
				</view>
				<view style="font-size: 22rpx;">错题数/总数</view>
			</view>
			<view class="details-bottom-left2" v-if="prop.data.isCorrect">
				<view :style="{ fontSize: '36rpx', color: '#59b883' }">
					{{ Calculate(prop.data.wronQuestion,prop.data.questionTotal) }}%
				</view>
				<view style="font-size: 22rpx;">正确率</view>
			</view>
			<view style="position: absolute; right: 40rpx;">
				<button size="mini" class="button" style="border: 1px solid #ccc;" @tap="handleEvaluate(prop.data)">评价</button>
				<button
					size="mini"
					type="primary"
					class="button"
					style="background-color: var(--info-color); margin-left: 10rpx;"
					@tap="handleReport(prop.data)"
				>
					学情报告
				</button>
			</view>
		</view>
	</view>
</template>

<script lang="ts" setup>
import {reactive} from 'vue'
import type {AssignmentDetail} from '../type'
const prop = defineProps<{
	data:AssignmentDetail
}>()
const emits = defineEmits(['evaluate','report'])
const color = reactive({
	Chinese: ['#fcf1e0','#f4b162'],
	Math: ['#e7f1fe','#5698f7']
})
const Calculate  = (wrong:number,total:number) => {
	return Math.floor((total - wrong) / total * 100)
}
// 评价按钮
const handleEvaluate = (data:AssignmentDetail) => {
	emits('evaluate',data)
}
// 报告按钮
const handleReport = (data:AssignmentDetail) => {
	emits('report',data)
}
</script>

<style lang="scss" scoped>
.details-card {
	width: 100%;
	height: 300rpx;
	background-color: #fff;
	border-radius: 20rpx;
	padding: 30rpx;
	margin: 20rpx 0;
	position: relative;
	box-shadow: 0 0 20rpx 3rpx #eaeaea;
	.details-top {
		display: flex;
		justify-content: space-between;
		.details-tag {
			color: #f4b162;
			background-color: #fcf1e0;
			padding: 5rpx 15rpx;
			font-size: 24rpx;
			border-radius: 9999rpx;
		}
		.details-title {
			margin-left: 20rpx;
			font-weight: bold;
		}
	}
	.details-center {
		margin-top: 20rpx;
	}
	.details-bottom {
		position: absolute;
		bottom: 20rpx;
		width: 100%;
		display: flex;
		align-items: center;
		.details-bottom-left2 {
			margin-left: 50rpx;
		}
		.button {
			border-radius: 9999rpx;
		}
	}
}
</style>
