<template>
	<view class="p-3 top-bg">
		<div class="title">作业列表</div>
		<!-- 日历 -->
		<guodu-calendar
			:value="selectDay"
			mode="single"
			:assignmentDays="assignmentDays"
			@changeDay="handleDayChange"
		></guodu-calendar>
		<!-- 作业 -->
		<assignment v-if="haveAssignment" :day="selectDay" />
		<guodu-empty v-else message="当天没有作业,休息休息吧" />
	</view>
</template>

<script lang="ts" setup>
import { ref, reactive, computed } from 'vue';
import type {AssignmentDays} from '../type'
import assignment from './components/assignment.vue'
const selectDay = ref<number>(new Date('2023-10-09').getTime());
// 当天是否有作业
const haveAssignment = computed(() => {
	const day = new Date(selectDay.value).getDate()
	return !!assignmentDays[day]
})
// 日期改变
const handleDayChange = (day: number) => {
	selectDay.value = day;
};
// 当前月哪一天有作业
const assignmentDays = reactive<AssignmentDays>({
	'9': {
		count: 5,
	},
	'12': {
		count: 3
	},
	'13': {
		count: 2
	}
})
</script>

<style lang="scss" scoped>
.title {
	margin-top: 80rpx;
	font-weight: bold;
}
</style>
