input,
textarea {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

button::after,
button::before {
  display: none;
}

div,
view,
input,
textarea,
image {
  box-sizing: border-box;
}

uni-page,
page {
  --color: #fff;
  --bg-color: #fff;
  --bg-active-color: #f0f0f0;
  --primary-color: #18a058;
  --primary-hover-color: #36ad6a;
  --info-color: #2080f0;
  --info-hover-color: #4098fc;
  --success-color: #18a058;
  --success-hover-color: #36ad6a;
  --warning-color: #f0a020;
  --warning-hover-color: #fcb040;
  --error-color: #d03050;
  --error-hover-color: #de576d;
  --text-color: rgb(31, 34, 37);
  --text-color-2: rgb(51, 54, 57);
  --text-color-3: rgb(118, 124, 130);
  --text-disabled-color: rgba(194, 194, 194, 1);
  --calendar-month: #000;
  --calendar: #ddd;
  --tag-color-blue: #2080f0;
  --tag-bg-color-blue: rgba(32, 128, 240, 0.22);
  --tag-deep-bg-color-blue: rgba(32, 128, 240, 0.22);
  --tag-color-green: #18a058;
  --tag-bg-color-green: rgba(24, 160, 88, 0.16);
  --tag-color-red: #d03050;
  --tag-bg-color-red: rgba(208, 48, 80, 0.16);
  --tag-color-orange: #f0a020;
  --tag-bg-color-orange: rgba(240, 160, 32, 0.16);
  --tag-color-gray: rgb(51, 54, 57);
  --tag-bg-color-gray: rgba(46, 51, 56, 0.05);
  --box-shadow-1: 0 1px 2px -2px rgba(0, 0, 0, 0.08),
    0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
  --box-shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --box-shadow-3: 0 6px 16px -9px rgba(0, 0, 0, 0.08),
    0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
  --page-background-color: #f4f5f6;
  --border-color: rgba(209, 213, 219, 0.5);
  background-color: var(--page-background-color);
  // 组件颜色配置
  --guodu-drawer-bg-color: #ffffff;
  --guodu-drawer-bg-color-mask:rgba(0, 0, 0, 0.4);// 遮罩颜色
  --guodu-seletor-color: #4098fc;
  --guodu-seletor-bg-color: #EBF5FF;
  --weui-FG-1: rgba(0, 0, 0, 0.6);
  --weui-FG-2: rgba(0, 0, 0, 0.3);
--guodu-loading: rgb(118, 124, 130);


}

// view {
//   // color: var(--text-color);
// }

@media (prefers-color-scheme: dark) {
  page, uni-page {
    --color: #3f3f3f;
    --bg-color: #1c1c1c;
    --bg-active-color: #2d2d2d;
    --primary-color: #63e2b7;
    --primary-hover-color: #7fe7c4;
    --info-color: #70c0e8;
    --info-hover-color: #8acbec;
    --success-color: #63e2b7;
    --success-hover-color: #7fe7c4;
    --warning-color: #f2c97d;
    --warning-hover-color: #f5d599;
    --error-color: #e88080;
    --error-hover-color: #e98b8b;
    --text-color: rgba(255, 255, 255, 0.9);
    --text-color-2: rgba(255, 255, 255, 0.82);
    --text-color-3: rgba(255, 255, 255, 0.52);
    --text-disabled-color: rgba(255, 255, 255, 0.38);
    --calendar-month: #fff;
    --calendar: #666;
    --tag-color-blue: #70c0e8;
    --tag-bg-color-blue: rgba(112, 192, 232, 0.16);
    --tag-color-green: #63e2b7;
    --tag-bg-color-green: rgba(99, 226, 183, 0.16);
    --tag-color-red: #e88080;
    --tag-bg-color-red: rgba(232, 128, 128, 0.16);
    --tag-color-orange: #f2c97d;
    --tag-bg-color-orange: rgba(242, 201, 125, 0.16);
    --tag-color-gray: rgba(255, 255, 255, 0.82);
    --tag-bg-color-gray: rgba(255, 255, 255, 0.08);
    --box-shadow-1: 0 1px 2px -2px rgba(255, 255, 255, 0.08),
    0 3px 6px 0 rgba(255, 255, 255, 0.06), 0 5px 12px 4px rgba(255, 255, 255, 0.04);
    --box-shadow-2: 0 3px 6px -4px rgba(255,255,255, 0.12),
    0 6px 16px 0 rgba(255,255,255, 0.08), 0 9px 28px 8px rgba(255,255,255, 0.05);
    --box-shadow-3: 0 6px 16px -9px rgba(255,255,255, 0.08),
    0 9px 28px 0 rgba(255,255,255, 0.05), 0 12px 48px 16px rgba(255,255,255, 0.03);
    --page-background-color: #000;
    --border-color: rgba(209, 213, 219, 0.5);
    background-color: var(--page-background-color);
     // 组件颜色配置
    --guodu-drawer-bg-color: #000000;
    --guodu-drawer-bg-color-mask:rgba( 255, 255, 255, 0.4);// 遮罩颜色
    --guodu-seletor-color: #70c0e8;
    --guodu-seletor-bg-color: #EBF5FF;
    --weui-FG-1:hsla(0,0%,100%,.5)
    --weui-FG-2:hsla(0,0%,100%,.3);
    --guodu-drawer-bg-color: rgba(37, 37, 37, 1);
    --guodu-drawer-bg-color-mask:rgba( 0, 0, 0, 0.6);//遮罩颜色
    --guodu-loading: rgba(255, 255, 255, 0.52);

  }
}

/* button */
.btn {
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-primary:active {
  background-color: var(--primary-hover-color);
  color: var(--text-color-2);
}

.top-bg {
  background-image: url("https://guodu-homework.oss-cn-beijing.aliyuncs.com/static/student/bg-top.png");
  background-size: 750rpx 496rpx;
  background-repeat: no-repeat;
  min-height: 496rpx;
  
}