<script setup lang="ts">

</script>

<template>
  <div class="p-3 top-bg">
    <div class="mt-60rpx text-xl font-bold">
      我的
    </div>
    <div class="w-full flex flex-col mt-5 items-center">
      <div class="bg-white p-5rpx rounded-full w-160rpx h-160rpx">
        <image class="w-150rpx h-150rpx rounded-full" src="https://guodu-homework.oss-cn-beijing.aliyuncs.com/static/student/avatar.jpg" />
      </div>
      <div class="font-bold mt-3">
        张小虎同学
      </div>
    </div>
  </div>
</template>
